@import 'tailwindcss';

@layer {
  .px-global {
    @apply px-3.5 sm:px-10 md:px-14 lg:px-24; 
  }
  .container {
    @apply min-w-full;
  }
  .container-fluid {
    @apply w-full max-w-[1440px] mx-auto;
  }
}