@media screen and (max-width: 748px) {
  
}
@media screen and (max-width: 678px) {
  .navbar-links {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-block: 100px;
    height: 100vh;
    width: fit-content;
    padding-inline: 1.5rem;
    backdrop-filter: blur(10px);
    box-shadow: 0px 1rem 1rem #000;
    z-index: 99;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #00000046;
  }
}