.header {
  height: 80px;
  width: 100%;
  background-color: var(--background-secondry);
  padding: 0 36px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.logo {
  height: 50px;
  cursor: pointer;
}
.login-btn {
  height: 50px;
  width: 100px;
  margin-left: 1rem;
  border-radius: .8rem;
  text-align: center;
  align-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-hover);
  }
}
.menu-btn {
  display: none;
  cursor: pointer;
}
.menu-btn img {
  height: 30px;
}
.nav-links {
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: .2s;
  &:hover, &.active {
    color: var(--primary-color);
  }
  &.active {
    border-bottom: 2px solid var(--primary-color);
  }
}
.links .login-btn{
  display: none;
}
.fixed-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 8;
  top: 0;
  left: 0;
  display: none;
}
.fixed-container.active {
  display: block;
}

@media screen and (max-width: 992px) {
  .menu-btn {
    display: block;
  }
  .links {
    position: fixed;
    align-items: flex-start;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    padding: 0 1rem;
    background-color: var(--background-secondry);
    /* backdrop-filter: blur(100px); */
    box-shadow: -4px 0px 2rem #00000058;
    right: -100%;
    z-index: 990;
    transition: .5s ease;
  }
  .links.active {
    right: 0;
    z-index: 999; 
  }
  .links ul {
    flex-direction: column;
    margin-top: 70px;
  }
  .links .login-btn {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 90%;
  }
  .login-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header{ 
    padding: 0 1rem;
  }
  .logo {
    height: 40px;
  }
}